

<!--台北當代藝術展-->
<div class="banner d-flex  align-items-end align-items-md-center <%- displaybanner %>" style="background:url(./assets/images/banner.jpg) center no-repeat; background-size:cover;" >
    <div class="container-md ">
      <div class="row">
          <h1 class="fw-bold h1 pb-3 text-white offset-0 col-9 offset-md-1 col-md-6" >台北當代藝術展</h1>
      </div>
      <div class="row">    
          <h2 class="h5 text-white pb-7 offset-0 col-6 offset-md-1 col-md-5">01 JUN - 31 OCT</h2>
     </div>
        <div class="row mb-16 mb-md-0">
          <div class=" fromGroup d-flex gap-3 offset-0 col-12 mb-16 col-sm-10 mb-md-0 offset-md-1 col-md-8 col-lg-6 ">
            <button class="btn btn-secondary px-17 py-4 ">購買票券</button><button class="btn btn-outline-light px-17 py-4 ">詳細資訊</button>
          </div>
       </div>
    </div>
  </div>