<div class="offcanvas offcanvas-end bg-black" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header ">
      <h5 class="text-white h1 fw-bold" id="offcanvasRightLabel">Cart List</h5>
      <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <ul class="offcanvas-body scrollbarstyle list-unstyled">
        <li class="card rounded-2 list-unstyled pt-1 mb-3 mb-md-5" style="width: 100%;">
          <button type="button" class="btn-close ms-1" aria-label="Close"></button>
          <div class="card-body ms-7 d-flex">
              <div class="ratio ratio-1x1" style="width: 120px;">
              <img  src="./assets/images/alina-grubnyak-R84Oy89aNKs-unsplash.jpg" alt="">
              </div>
              <div class="d-flex flex-column me-0 ms-7 me-md-13">
                  <h7 class="fw-bold">2020 台味設計展</h7>
                  <h7>01 JUN — 31 OCT</h7>
                  <span class="h7 text-gray_custom">全票</span><span class="fw-bold h5">NT$350</span>
              </div>
              <div class="h9 fw-bold flex-grow-1 d-flex flex-column-reverse justify-content-center  align-items-center ms-11 gap-1 flex-sm-row   gap-sm-5">  <a class="btn p-0 link-dark number_chose" role="button" href="#"><i class="bi bi-dash-lg"></i></a>01 <a  class=" btn p-0 link-dark number_chose"href="#"><i class="bi bi-plus-lg"></i></a></div>
          </div>
        </li>
        <li class="card rounded-2 list-unstyled pt-1 mb-3 mb-md-5" style="width: 100%;">
            <button type="button" class="btn-close ms-1" aria-label="Close"></button>
            <div class="card-body ms-7 d-flex">
                <div class="ratio ratio-1x1" style="width: 120px;">
                <img  src="./assets/images/michel-catalisano--a0D9LpcKV8-unsplash.jpg" alt="">
                </div>
                <div class="d-flex flex-column me-0 ms-7 me-md-13">
                    <h7 class="fw-bold">No.22 線上設計展</h7>
                    <h7>01 JUN — 31 OCT</h7>
                    <span class="h7 text-gray_custom">全票</span><span class="fw-bold h5">NT$350</span>
                </div>
                <div class="h9 fw-bold flex-grow-1 d-flex flex-column-reverse justify-content-center  align-items-center ms-11 gap-1 flex-sm-row   gap-sm-5">  <a class="btn p-0 link-dark number_chose" role="button" href="#"><i class="bi bi-dash-lg"></i></a>01 <a  class=" btn p-0 link-dark number_chose"href="#"><i class="bi bi-plus-lg"></i></a></div>
            </div>
        </li>
        <li class="card rounded-2 list-unstyled pt-1 mb-3 mb-md-5" style="width: 100%;">
            <button type="button" class="btn-close ms-1" aria-label="Close"></button>
            <div class="card-body ms-7 d-flex">
                <div class="ratio ratio-1x1" style="width: 120px;">
                <img  src="./assets/images/moralis-tsai-8xsktFRw28I-unsplash.jpg" alt="">
                </div>
                <div class="d-flex flex-column me-0 ms-7 me-md-13">
                    <h7 class="fw-bold">高雄設計節</h7>
                    <h7>01 JUN — 31 OCT</h7>
                    <span class="h7 text-gray_custom">全票</span><span class="fw-bold h5">NT$350</span>
                </div>
                <div class="h9 fw-bold flex-grow-1 d-flex flex-column-reverse justify-content-center  align-items-center ms-11 gap-1 flex-sm-row   gap-sm-5">  <a class="btn p-0 link-dark number_chose" role="button" href="#"><i class="bi bi-dash-lg"></i></a>01 <a  class=" btn p-0 link-dark number_chose"href="#"><i class="bi bi-plus-lg"></i></a></div>
            </div>
        </li>
    </ul>
    <!--小計-->
    <div class="offcanvas-footer d-flex justify-content-between">
      <div class="fromGroup">
        <h9 class="text-white me-11">小計</h9>
        <span class="text-white">NT$1050</span> 
    </div>
    <!--結帳按鈕-->
    <a href="./checkOut-1Page.html" class="btn btn-outline-primary bg-white" role="button">前往結帳</a>
    </div>
  </div>