<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand position-md-absolute top-50 start-50 translate-md-middle" href="homePage.html"> <h1 class="fs-4 fs-md-3 text-primary">EXHIBINECTION</h1></a>
      <a class="nav-link btn position-relative align-self-center link-dark order-md-3 " href="./checkOut-1Page.html"  aria-current="page" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <span class="material-icons ">confirmation_number</span>
        <span class="position-absolute top-20 start-80 translate-middle badge rounded-pill bg-secondary">3<span class="visually-hidden">unread messages</span></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto mb-2 mb-md-0 w-100 d-flex justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link active h7 text-gray_custom" aria-current="page" href="#">Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active h7 text-gray_custom" aria-current="page" href="#">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>