.font-size-40px{
    font-size: 40px;
}

.nav-scroller {
    height: 3.25rem; /* 隱藏下方捲軸 */
    overflow-y: hidden; 
    .nav-link{
        font-size: $h7-font-size;
        color: $gray_custom;
        &:hover,&:focus{
            color: $secondary;
            box-shadow: inset 0 -1px 0 $secondary;
        }
    }
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
        display: none;
    }
}

.modal.right .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translate3d(0%, 0, 0);
  }
  
  .modal.right .modal-content {
    height: 100%;
    overflow-y: hidden;
  }
  .modal {
    &-content {
      border-radius: 0;
      border: none;
    }
    &-header {
      border-bottom: none;
    }
    &-body{
      .card{
        max-width: 540px;
      }
    }
    &-footer {
      border-top: none;
    }
  }
  //modal結帳按鈕
  .btn.btn-outline-primary.bg-white{
      &:hover,&:focus{
          color: $secondary;
          border: 1px solid $secondary;
      }
  }
  //+-hover,focus效果
  .number_chose{
    &:hover,&:focus{
        color: $secondary;
    }
}
