a{
    text-decoration: none;
    display: block;
    font-size: $h7-font-size;
}
img{
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
@font-face {
    font-family: 'Noto_CJK';
    src: url(./font-family/NotoSansCJKtc/NotoSansCJKtc-Regular.otf);
}
body{
    font-family: 'Roboto','Noto_CJK',sans-serif;
    
}
//body與offcanvas的scrollbr
body,.scrollbarstyle{
    &::-webkit-scrollbar{
        width: 10px;
    }
    //利用background-clip: padding-box;與border的透明調整 thumb 與 track粗細
    &::-webkit-scrollbar-track,&::-webkit-scrollbar-thumb {
	border: 3px solid rgba(255,255,255,0);
	background-clip: padding-box;
}
    &::-webkit-scrollbar-thumb{
        background-color:$secondary;
        border-radius: 10px;
        &:hover{
            //減少透明border擋住thumb造成在hover的時候thumb變粗
            border: 2px solid rgba(255,255,255,0);
        }
    }
    &::-webkit-scrollbar-track{
        background-color: $gray-300;
        border-radius: 10px;
    }
}
//+-hover,focus效果
.number_chose{
    &:hover,&:focus{
        color: $secondary;
        }
    }
//清除focus效果
.focus-clean{
     &:focus{
         box-shadow: none;
    }
}